body{
    font-family: 'Barlow Semi Condensed', sans-serif;  
    margin: 0%;
}

section {
    background-color: white;
}
.main {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    background-image: url(images/img.webp);
    background-size: cover;
    background-position: center;
}

footer {
    height: 500px;
    color: white;
    text-align: center;
    padding: 80px;
    background-color: rgb(71, 109, 134)
} 


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 14px 16px;
}

.logo {
    color: white;
    font-size: 29px;
    height: 40px;
    margin: 40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 22px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    transition: .4s;
    color: rgb(245, 193, 189);
}

.main-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    color: black;
    display: flex;
    justify-content: center;
    
}

p {
    margin-bottom: 25px;
    color: black;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}

.center-text {
    margin-bottom: 25px;
    color: white;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}

.socials {
    position: absolute;
    top: 90%;
    left: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.socials a{
    display: inline-block;
    color: white;
    margin-right: 10px;
    transition: .3s;
}.socials a:hover {
    transform: translateY(10px);
}


.mid {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background-color: white;
}

.project-info {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 2px rgb(163, 161, 161);
    margin: 10px;
}
.inside-project {
    display: flex;
    justify-content: space-around;
}

.project-img {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: rgb(245, 193, 189);
}
.mid2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger.focus {
    outline: 0;

}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px
    }
    ul {
        display: none;
    }
} 