nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1{
    font-size: 70px;
}

p {
    font-size: 35px;
}

.front {
    margin-left: 40px;
}