body{
    font-family: 'Barlow Semi Condensed', sans-serif;  
    margin: 0%;
}

section {
    background-color: white;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(images/img.webp);
    background-size: cover;
    background-position: center;
}
 
footer {
    text-align: center;
    padding: 80px;
    background-color: rgb(71, 109, 134)
}  

.contact-me {
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.border {
    width: 100px;
   
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: white;
    padding: 20px 40px;
    outline: none;
    transition: 0.5s;
}


.contact-form-text:focus {
    box-shadow: 0 0 10px 4px white
}

textarea.contact-form-text {
    resize: none;
    height: 150px;
}

.btn {
    float: center;
    border: 0;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transform: 0.5s;
}

.btn:hover {
    background-color: rgb(245, 193, 189);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 14px 16px;
}

.logo {
    color: white;
    font-size: 29px;
    height: 40px;
    margin: 40px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 22px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    transition: .4s;
    color: rgb(245, 193, 189);
}

.main-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    color: rgb(245, 193, 189);
    display: flex;
    justify-content: center;
    
}

 p {
    margin-bottom: 20px;
    color: black ;
    font-size: 19px;
    font-weight: 500; 
}

.sub-text1 {
    line-height: 2.0;
}

.sub-text2 {
    line-height: 2.2;
}

.sub-text3 {
    line-height: 1.8;
}
.p1 {
    width: 25em;
    font-size: 20;
}


.center-text {
    margin-bottom: 25px;
    color: white;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
}

.socials {
    position: absolute;
    top: 90%;
    left: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
}

.socials a{
    display: inline-block;
    color: white;
    margin-right: 10px;
    transition: .3s;

}.socials a:hover {
    transform: translateY(10px);
}


.mid {
    display: flex;
    justify-content: space-around;
    background-color: white ;
}

hr.solid {
    border-top: 3px solid rgb(200, 200, 200);
  }

.project-info {
    width: 400px;
    height: 550px;
    box-shadow: 5px 5px 2px rgb(200, 200, 200);
    margin: 20px;
}
.inside-project {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .inside-project {
        display: flex;
        flex-wrap: wrap;
    }
}
.project-img {
    margin-top: 20px;
    width: 250px;
    border-radius: 15px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
}

.link {
    text-decoration: none;
    color: rgb(245, 193, 189);
}
.mid2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
    }

    .logo {
        display: none;
    }
}