body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1{
    font-size: 70px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
}

.front {
    margin-left: 40px;
}